<div class="event-slider-section" *ngIf="events.length > 0">
  <h2>Nächste Events</h2>
  <div *ngIf="loading" class="loading-indicator">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Lade Veranstaltungen...</p>
  </div>
  <button class="scroll-btn left" (click)="scrollLeft()">❮</button>
  <button class="scroll-btn right" (click)="scrollRight()">❯</button>

  <div class="event-slider" #eventSlider>
    <div *ngFor="let event of events" class="event-card">
      <img [src]="event.coverImageUrl" alt="Event Image" />
      <h3>{{ event.title }}</h3>
      <p>
        <mat-icon class="event-icon">event</mat-icon>
        {{ event.eventDate | date: "dd MMM yyyy" }}
      </p>
      <p class="event-location">
        <mat-icon class="event-icon">location_on</mat-icon>
        {{ event.location || "NA" }}
      </p>
    </div>
  </div>
</div>
