<div class="main-content">
  <div class="hero-section">
    <div class="hero-text">
      <h1>
        <div>FINDE EVENTS</div>
        <div>IN <span class="gradient-text">DEINER</span></div>
        <div>NÄHE<span class="blue-text">!</span></div>
      </h1>
    </div>
  </div>

  <div class="search-panel">
    <h2>Was möchtest du heute erleben?</h2>

    <form [formGroup]="eventSearchForm" (ngSubmit)="searchEvents()">
      <div class="search-field">
        <label>Suche nach</label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="eventType" placeholder="Wähle Event Typ">
            @for (type of types(); track $index) {
            <mat-option [value]="type">{{ type }}</mat-option>
            }
          </mat-select>
          <div matSuffix class="dropdown-icon">
            <mat-icon>expand_more</mat-icon>
          </div>
        </mat-form-field>
      </div>

      <div class="search-field">
        <label>Standort</label>
        <app-location-input formControlName="location" [placeholder]="'Stadt eingeben...'" [appearance]="'outline'"
          [multiple]="false" (locationSelected)="onLocationSelected($event)" [defaultCities]="[
            'Berlin',
            'Hamburg',
            'München',
          ]"></app-location-input>
      </div>

      <div class="search-field">
        <label>Wann</label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="date" placeholder="Wann möchtest du was erleben?">
            @for (date of dates; track $index) {
            <mat-option [value]="date.toLowerCase()">{{ date }}</mat-option>
            }
          </mat-select>
          <div matSuffix class="dropdown-icon">
            <mat-icon>expand_more</mat-icon>
          </div>
        </mat-form-field>
      </div>

      <button mat-flat-button type="submit" class="search-button">
        Nach Events suchen
      </button>
    </form>
  </div>
</div>