<div class="events-container">
    <mat-card class="form" *ngFor="let event of results">
        <p class="picture">Bild</p>
        <h1>Eventtitel {{ event.title }} </h1>
        <h3>Beschreibung: {{ event.description }}</h3>
        <h3>Datum: {{ event.eventDate }}</h3>
        <h3>Maximale Anzahl Besucher: {{ event.maxParticipants }}</h3>
        <h3>Veranstaltungsort: {{ event.location }}</h3>
        <h3>Ist es online? {{ event.isOnline ? 'Ja' : 'Nein' }}</h3>
        <h3>Eventlink: {{ event.meetingLink }}</h3>
    </mat-card>
</div>
